# --- SECRETS ------------------------------
.env
include/keys/
*.p8
*.pem

# --- PYTHON -------------------------------


# --- DBT ----------------------------------


# --- AIRFLOW / ASTRO ----------------------


# --- OS / EDITORS --------------------------